name: sentinel

services:
  db:
    container_name: db
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sentinel
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata: