name: build
run-name: Triggered by ${{ github.event_name }} to ${{ github.ref }} by @${{ github.actor }}

on: [push]

jobs:

  core_build_job:
    runs-on: ubuntu-latest
    name: core
    defaults:
      run:
        shell: bash
        working-directory: core
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.26'
      - name: Build sentinel-core
        run: |
          go mod download
          go build